@model IEnumerable<Blogz.Web.Models.Domain.BlogPost>

@{
}
@if(Model == null || !Model.Any())
{
    <p>No Blog Posts found</p>
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1> Admin : View all Blog Posts</h1>
    </div>
</div>

<div class="container py-5">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heading</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blogPost in Model)
            {
                <tr>
                    <td>@blogPost.Id</td>
                    <td>@blogPost.Heading</td>
                    <td>
                        <div class="d-flex">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </div>
                    </td>
                    <td>
                        <a asp-asp-area="" asp-asp-controller="AdminBlogPost" asp-action="Edit" asp-route-blogId="@blogPost.Id">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>